form {
  div {
    @include padding('md');
    @include standard-color('black');
    background-color: lighten($body-bg, 4%);
    border-radius: $border-radius-md;
    border: $border standard-color('gray');
    display: flex;
    flex-wrap: wrap;
    transition: $transition;

    button, input, select, textarea, i {
      flex: 1 0 auto;
    }

    button {
      @include font-size('md');
      @include standard-color-bg('transparent');
      @include standard-color('black');
      text-align: center;
      transition: $transition;
    }

    &:focus-within {
      background-color: darken(standard-color('white'), 20%);

      button, input, select, textarea, i {
        color: darken(standard-color('black'), 20%);
      }
    }

    &:hover {
      border: $border darken(standard-color('gray'), 50%);

      button {
        color: darken(standard-color('black'), 50%);
      }
    }
  }
}

input, select, textarea {
  @include padding('na', 'md');
  @include standard-color-bg('transparent');
}