.modal-wrapper .alert-container {
  @include z-index('toast');
}

body > .alert-container {
  @include margin('0', 'lg');
}

.alert-container {
  @extend %pointer;
  @include font-size('md');
  @include padding('md');
  border-radius: $br-md;
  box-shadow: $bs-all $box-shadow;
  text-align: center;
  font-style: italic;
  
  &.success-bg, &.warning-bg {
    color: standard-color('black');
  }

  &.danger-bg, &.info-bg {
    color: standard-color('white');
  }
}

.success {
  @include alerts('success');
}

.success-bg {
  @include alerts-bg('success');
  $transition: $transition-slow;
}

.info {
  @include alerts('info');
}

.info-bg {
  @include alerts-bg('info');
  $transition: $transition-slow;
}

.warning {
  @include alerts('warning');
}

.warning-bg {
  @include alerts-bg('warning');
  $transition: $transition-slow;
}

.danger {
  @include alerts('danger');
}

.danger-bg {
  @include alerts-bg('danger');
  $transition: $transition-slow;
}

.hover {
  &-success {
    $transition: $transition-slow;
    
    &:hover {
      @include alerts('success');
    }

    &-bg:hover {
      @include alerts-bg('success');
    }
  }

  &-info {
    $transition: $transition-slow;
    
    &:hover {
      @include alerts('info');
    }

    &-bg:hover {
      @include alerts-bg('info');
    }
  }

  &-warning {
    $transition: $transition-slow;

    &:hover {
      @include alerts('warning');
    }

    &-bg:hover {
      @include alerts-bg('warning');
    }
  }

  &-danger {
    $transition: $transition-slow;

    &:hover {
      @include alerts('danger');
    }

    &-bg:hover {
      @include alerts-bg('danger');
    }
  }
}