.modal-wrapper {
  @include margin('na');
  display: flex;
  height: 100vh;
}

.modal-wrapper::after{
  background: inherit;
  bottom: 0;
  content: '';
  filter: blur(sizes('md'));
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-container {
  @include margin('auto');
  display: flex;
}

.modal {
  @include padding('lg', 'xl');
  @include margin('auto');
  @include z-index('modal');
  background-color: $body-bg;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow-all;

  div {
    display: flex;
  }    

  .modal-title {
    p, h1, h2, h3, h4, h5, h6 {
      @include font-size('xxl');
      @include margin('na', 'auto');
      @include padding('sm', 'na');
      font-weight: $font-weight-bold;
    }
  }

  .modal-body {
    @include padding('na', 'lg');
    flex-direction: column;
  }
}

.modal {
  &-sm {
    max-height: 50%;
    width: 45%;
  }

  &-md {
    max-height: 70%;
    width: 60%;
  }

  &-lg {
    max-height: 90%;
    width: 75%;
  }

  &-xl {
    max-height: 90%;
    width: 90%;
  }
}

.modal-body {
  form, div, section, ul {
    @extend %flex-col;

    input, select, textarea {
      @include padding('md');
      width: auto;
    }
  }
}