.modal-wrapper {
  @include margin('na');
  display: flex;
  height: 100vh;
}

.modal-wrapper .alert-container, .form-container .alert-container {
  @include font-size('md');
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  padding: sum-sizes('md', 'sm') sizes('md');
  position: absolute;
  top: 10%;
  transform: translateX(-50%);
  width: 80%;

  p {
    font-weight: $font-weight-bold;
  }
  
  ul {
    list-style: disc;
  }

  ul li {
    text-align: center;
  }
}

.modal-wrapper::after{
  background: inherit;
  bottom: 0;
  content: '';
  filter: blur(sizes('md'));
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-container {
  @include margin('auto');
  display: flex;
}

.modal {
  @include padding('lg', 'xl');
  @include margin('auto');
  @include z-index('modal');
  background-color: standard-color('white');
  border-radius: $br-md;
  box-shadow: $bs-all $box-shadow;

  div {
    display: flex;
  }    

  .modal-title {
    @include padding('sm', 'na', 'md');

    p, h1, h2, h3, h4, h5, h6 {
      @include font-size('xxl');
      @include margin('na', 'auto');
      font-weight: $font-weight-bold;
    }
  }

  .modal-body {
    @include padding('na', 'lg');
    flex-direction: column;
  }
}

.modal {
  &-sm {
    max-height: 50%;
    max-width: 50%;
    width: 45%;
  }

  &-md {
    max-height: 70%;
    max-width: 65%;
    width: 60%;
  }

  &-lg {
    max-height: 90%;
    max-width: 80%;
    width: 75%;
  }

  &-xl {
    max-height: 90%;
    max-width: 90%;
    width: 90%;
  }
}

.modal-body {
  form, div, section, ul {
    display: flex;
    flex-direction: column;

    input, select, textarea {
      @include padding('md');
      width: auto;
    }
  }
}